{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fiverr App</title>
  <link rel="shortcu icon" href="{% static 'img/uberified.jpg' %}">
</head>
<body>
  <div>
    <p>Header</p>
    {% if user and not user.is_anonymous %}
      Hello {{ user.get_full_name|default:user.username }}!
    {% else %}
      I don't think we have met before
    {% endif %}
    <hr>

    <a href="{% url 'social:begin' 'facebook' %}? next={{ request.path }}">Login</a>
    <a href="{% url 'auth:logout' %}? next={{ request.path }}">Logout</a>
  </div>
  <hr>
  {% block page %}
  {% endblock %}
  <div>
    footer
  </div>
</body>
</html>
