{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fiverr App</title>
  <link rel="shortcut icon" href="{% static 'img/uberified.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="{% static 'img/uberified.png' %}" alt="logo" height="23"></a>
        </div>
        <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="title" class="form-control" placeholder="Find services">
              <span class="input-group-btn">
                <button class="btn btn-success">Find</button>
              </span>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if user and not user.is_anonymous %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <!-- Default avatar -->
              <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} {% static 'img/Pst Brian.jpg' %} {% endif %}" class="img-circle" height="22" width="22">&nbsp;
              {{ user.get_full_name|default:user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'create_gig' %}">Create a gig</a></li>
              <li><a href="{% url 'my_gigs' %}">My Gigs</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'my_sales' %}">My Sales</a></li>
              <li><a href="{% url 'my_purchases' %}">My Purchases</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'profile' user.username %}">My Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
            </ul>
          </li>
          {% else %}
            <li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="category">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/category/graphics-design">Graphics & Design</a></li>
          <li><a href="/category/digital-marketing">Digital Marketing</a></li>
          <li><a href="/category/video-animation">Video & Animation</a></li>
          <li><a href="/category/music-audio">Music & Audio</a></li>
          <li><a href="/category/programming-tech">Programming & Tech</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="body">
    <div class="container">
      {% block page %}
      {% endblock %}
    </div>
  </div>

  <footer id="footer">
    <div class="container">
      <span>Fiverr App &copy; 2016</span>
    </div>
  </footer>

</body>
</html>
