{% extends 'base.html' %}

{% load staticfiles %}

{% block page %}
  {% if error %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning!</strong> {{ error }}
    </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label class="col-sm-2 control-label">GIG TITLE</label>
          <div class="col-sm-10">
            <textarea rows="3" class="form-control" name="title">{{ gig.title }}</textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">CATEGORY</label>
          <div class="col-sm-10">
            <select name="category" class="form-control" value="{{ gig.category }}">
              <option {% if gig.category == "GD" %} selected {% endif %} value="GD">Graphic & Design</option>
              <option {% if gig.category == "DM" %} selected {% endif %} value="DM">Digital & Marketing</option>
              <option {% if gig.category == "VA" %} selected {% endif %} value="VA">Video & Animation</option>
              <option {% if gig.category == "MA" %} selected {% endif %} value="MA">Music & Video</option>
              <option {% if gig.category == "PT" %} selected {% endif %} value="PT">Programming & Tech</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">DESCRIPTION</label>
          <div class="col-sm-10">
            <textarea rows="5" class="form-control" name="description">{{ gig.description }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">PRICE ($)</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" value="{{ gig.price }}" name="price">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">PHOTO</label>
          <div class="col-sm-10">
            <small>Currently: {{ gig.photo }}</small>
            <input type="file" class="form-control" name="photo">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">STATUS</label>
          <div class="col-sm-10">
            <select name="status" class="form-control">
              <option value="1" {% if gig.status %} selected {% endif %} >Active</option>
              <option value="" {% if not gig.status %} selected {% endif %} >Disabled</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Update Gig</button>
          </div>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
