{% extends 'base.html' %}
{% load staticfiles %}


{% block page %}

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ gig.title }}</h3>
          <hr>
          <img src="/media/{{ gig.photo }}" class="img-responsive center-block">
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>About this Gig</h4>
        </div>
        <div class="panel-body">
          <p>{{ gig.description }}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Review</h4>
        </div>
        <ul class="list-group">
          {% for i in '123' %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2">
                  <img src="{{ gig.user.profile.avatar }}" class="img-circle center-block" height="60">
                </div>
                <div class="col-md-10">
                  <h5>{{ gig.user.username }}</h5>
                  <p>Great job. This guy is awesome. Job well done.</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <button type="button" class="btn btn-success btn-block">Order Now (${{ gig.price }})</button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{ gig.user.profile.avatar }}" class="img-circle center-block" height="100" width="100">
          <a href="{% url 'profile' gig.user.username %}"><h4 class="text-center">{{ gig.user.username }}</h4></a>
          <hr />
          <p>{{ gig.user.profile.about }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
